body {
    font-family: Arial, sans-serif;
    background-color: #f2f6f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a9396;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #005f73;
    padding: 10px;
    text-align: center;
}

nav button {
    background-color: #ffb703;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #fb8500;
    color: white;
}

section {
    padding: 20px;
    text-align: center;
}

img {
    width: 200px;
    margin: 15px 0;
}

.alert-btn {
    background-color: #219ebc;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.alert-btn:hover {
    background-color: #023047;
}

footer {
    background-color: #0a9396;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
